<%= simple_form_for [ @cocktail, @dose ] do |f| %>
  <div class="form-group">
    <%= f.input :description, class: 'form-control' %>
    <%= f.association :ingredient, collection: Ingredient.all, prompt: "Choose an ingredient", class: 'form-control beautiful-dropdown', include_hidden: false %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
  <hr>
  <div>
  <%= link_to cocktails_path do %>
    <i class="fas fa-cocktail"></i> Back to cocktails
  <% end %>
  </div>
<% end %>
